@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-default-background {
	background: linear-gradient(134.32deg, #7751c7 26.96%, #5f62c7 73.13%);
}

.bg-primary-trans {
	background: rgba(66, 17, 169, 0.1);
}

.bg-primary-frame {
	background: linear-gradient(
		179.79deg,
		#e6e8ff 0.18%,
		#eae7ff 18.44%,
		#ebecff 40.25%,
		#ebf4ff 60.18%,
		#edf8ff 81.34%,
		#f4fdfb 99.82%
	);
}

.bg-secondary-trans {
	background: rgba(190, 223, 255, 0.25);
}

.bg-text-whitetrans {
	background: rgba(255, 255, 255, 0.2);
}

.bg-ux-inactive {
	background: linear-gradient(
			114.19deg,
			rgba(119, 81, 199, 0.2) 26.22%,
			rgba(81, 107, 199, 0.2) 135.54%
		),
		rgba(190, 190, 190, 0.8);
}
