@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Staatliches&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting default text colour */
@layer base {
	html {
		@apply text-text-typo;
	}
}

@layer components {
	.text-title {
<<<<<<< HEAD
		font-size: 58px;
=======
		font-size: 58pt;
>>>>>>> origin/smallButton
		line-height: 72px;
		@apply font-heading;
	}
	.text-primary {
<<<<<<< HEAD
		font-size: 18px;
=======
		font-size: 18pt;
>>>>>>> origin/smallButton
		line-height: 22px;
	}

	.text-links {
<<<<<<< HEAD
		font-size: 14px;
=======
		font-size: 14pt;
>>>>>>> origin/smallButton
		font-weight: 600;
		line-height: 17px;
	}
	.text-secondary {
		font-size: 14px;
<<<<<<< HEAD
=======
		font-weight: 300;
>>>>>>> origin/smallButton
		line-height: 17px;
	}

	.cards-title {
<<<<<<< HEAD
		font-size: 40px;
=======
		font-size: 40pt;
>>>>>>> origin/smallButton
		line-height: 50px;
		@apply font-heading;
	}

	.button-bold {
<<<<<<< HEAD
		font-size: 20px;
=======
		font-size: 20pt;
>>>>>>> origin/smallButton
		font-weight: bold;
		line-height: 24px;
	}

	.button-large {
<<<<<<< HEAD
		font-size: 24px;
		line-height: 29px;
	}
  #Delete_Action,
  #Tick_Action {
    justify-content: center;
  }
=======
		font-size: 24pt;
		line-height: 29px;
	}
>>>>>>> origin/smallButton
}
