@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Staatliches&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting default text colour */
@layer base {
	html {
		@apply text-text-typo;
	}
}

/* Gradient colours moved to Tailwind Config under "linearGradientColours" */

@layer components {
	.text-title {
		font-size: 58px;
		line-height: 72px;
		@apply font-heading;
	}
	.text-primary {
		font-size: 18px;
		line-height: 22px;
	}

	.text-links {
		font-size: 14px;
		font-weight: 600;
		line-height: 17px;
	}
	.text-secondary {
		font-size: 14px;
		line-height: 17px;
	}

	.cards-title {
		font-size: 40px;
		line-height: 50px;
		@apply font-heading;
	}

	.button-bold {
		font-size: 20px;
		font-weight: bold;
		line-height: 24px;
	}

	.button-large {
		font-size: 24px;
		line-height: 29px;
	}
}
